.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 100px;
}

/* --- TITRE --- */
.skill-title {
  position: relative;
  margin-top: 30px;
  background: linear-gradient(135deg, #e778b5 20%, #0e22d6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill-title h1 {
  padding: 0px 30px;
  font-size: 50px;
  font-weight: 600;
}

.skill-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

/* --- CARTES DE COMPÉTENCES --- */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
  margin-bottom: 80px;
  width: 100%;
}

.skill-format {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  /* réduit l’espace interne */
  padding: 6px 8px;
  /* réduit le padding vertical et horizontal */
  border-radius: 10px;
  border: 1.5px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.skill-format:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}

.skill-format h5 {
  padding: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

/* --- RESPONSIVE --- */
@media (max-width: 1024px) {
  .skills {
    margin: 20px 20px;
  }

  .skill-title h1 {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  .skills {
    margin: 40px 30px;
    gap: 50px;
  }

  .skill-title h1 {
    font-size: 28px;
    padding: 0;
  }

  .skills-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;
  }

  .skill-format {
    flex-direction: column;
    gap: 4px;
    padding: 5px;
  }

  .skill-format h5 {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .skills {
    margin: 20px 10px;
    gap: 40px;
  }

  .skill-title h1 {
    font-size: 50px;
    padding: 0;
  }

  .skills-container {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .skill-format {
    padding: 5px;
    gap: 3px;
  }

  .skill-format h5 {
    font-size: 14px;
  }
}