.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 50px;
}

.name {
    font-size: 35px;
    font-weight: 900;
    font-style: italic;
    background: linear-gradient(135deg, #e778b5 20%, #0e22d6 100%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-downloadcv {
    margin-top: 15px;
    text-align: center;
    width: 100%;
}

.nav-downloadcv:hover {
 
  transform: translateY(-2px);
}
.nav-downloadcv img {
    width: 20px;
    height: 20px;
    margin-right: 10px;}
 .btn-cv {
     display: inline-block;
     background: linear-gradient(135deg, #dd73ad 20%, #9ca2ec 100%);
     color: #fff;
     padding: 10px 20px;
     border-radius: 8px;
     text-decoration: none;
     font-weight: bold;
     transition: all 0.3s ease-in-out;
     box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
 }


.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.anchor-link {
    text-decoration: none;
    color: white;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

@media (max-width:768px) {
    .navbar {
        margin: 20px 50px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 29px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background: linear-gradient(135deg, #e778b5 20%, #0e22d6 100%);
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;

    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px
    }

    .nav-downloadcv {
        margin-top: 15px;
        text-align: center;
    }

    .btn-cv {
        display: inline-block;
        background: linear-gradient(135deg, #007bff, #00d4ff);
        color: #fff;
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    }

    .btn-cv:hover {
        background: linear-gradient(135deg, #0056b3, #00aaff);
        transform: translateY(-2px);
        box-shadow: 0 6px 14px rgba(0, 123, 255, 0.5);
    }

}